---
import { getProducts } from "./../utils/storeCMS";
import BaseLayout from "../layouts/BaseLayout.astro";
import Products from "../components/Products.astro";
// import { setCache } from "../utils/cache";

const title = "Astro + Analyze";
// const headers = Astro.request.headers;
// const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const response = await getProducts();

// setCache.short(Astro);
---

<BaseLayout title={title} description="Online store example that uses analyze as it's backend CMS to ecommerce features to sellers">
  {!response && <div>Can't find products</div>}
  {!response?.products.length && <div>no products avaliable</div>}
  {response && <Products products={response.products} />}
</BaseLayout>
