---
import CartIcon from "./CartIcon"
import Logo from "./Logo.astro";
---

<header class="sticky top-0 z-40">
    <nav class="flex w-full h-[4rem] px-[48px] bg-white items-center justify-between gap-4">
      <a href="/">
        <span class="sr-only">Logo</span>
        <p class="font-bold text-2xl font-serif">CameraCop</p>
        <!-- <Logo /> -->
      </a>
      <div class="justify-self-end">
      <CartIcon client:load />
      </div>
    </nav>
</header>
