<section>
  <div class="flex flex-col items-center">
    <img class="bg-[#EEEDEB] object-cover w-full h-[300px]" src="https://images.unsplash.com/photo-1615003162333-d3ff3ce1f0f4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fHdpZGUlMjBzaG90fGVufDB8MHwwfHx8MA%3D%3D" alt="shoes">
    <div class="pt-8 max-w-[650px] min-w-[400px] px-5">
      <p class="font-serif font-extrabold text-5xl text-center mb-2">Get up to 50% off on all Cameras</p>
      <p class="font-medium text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit vero architecto dolorem atque fuga quia delectus aliquam ut, beatae nesciunt!</p>
    </div>
  </div>


  
</section>