---
import { z } from "zod";
import ProductCard from "./ProductCard.astro";
import { ProductSchema } from "../utils/storeCMS";

const ProductsResult = z.array(ProductSchema);
export interface Props {
  products: z.infer<typeof ProductsResult>;
}
const { products } = Astro.props as Props;
---

<section>
  <div class="py-16 mx-[15px] md:mx-[48px]">
    <h2 class="sr-only">Products</h2>

    <div class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      {products.map((product) => <ProductCard product={product} />)}
    </div>
  </div>
</section>
